<!DOCTYPE html>
<html>
  <head>
    <title>NagiPy</title>
    <meta charset="utf-8" />
    <meta name="author" content="Guillaume Ayoub" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
  </head>
  <body>
    <header>
      <h1>NagiPy</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Hosts</a></li>
          <li><a href="{{ url_for('status') }}">Services</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <ul>
        <li><a href="http://kozea.fr/">Kozea</a></li>
      </ul>
    </footer>        
  </body>
</html>
